.search-bar {
    margin: 20px;
    /*text-align: center*/
}
.search-bar input {
    width: 66%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

td, th {
    vertical-align:  middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg{
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width:250px;
}